* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf");
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", serif;
}

.attribution {
  margin-bottom: 10px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.blog-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
  padding: 16px;
  width: 250px;
  background-color: hsl(0, 0%, 100%);
  outline: 1px solid black;
  box-shadow: 6px 6px 0px black;
  border-radius: 12px;
}
.blog-card__img {
  width: 100%;
  margin-bottom: 8px;
  border-radius: 6px;
}
.blog-card__tag {
  background-color: hsl(47, 88%, 63%);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.6rem;
  font-weight: 800;
}
.blog-card__date {
  font-size: 0.6rem;
  font-weight: 500;
}
.blog-card__title {
  margin: 4px 0;
  font-size: 1rem;
  font-weight: 800;
}
.blog-card__link {
  font-decoration: none;
  color: inherit;
}
.blog-card__link:hover {
  color: hsl(47, 88%, 63%);
}
.blog-card__desc {
  margin-bottom: 6px;
  color: hsl(0, 0%, 50%);
  font-size: 0.65rem;
  font-weight: 500;
  line-height: 1.5;
}
.blog-card__author {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-items: center;
}
.blog-card__author-avatar {
  width: 20px;
}
.blog-card__author-name {
  font-size: 0.6rem;
  font-weight: 800;
}